@font-face {
    font-family: 'Vision';
    src: url('visionregular.woff2') format('woff2'), 
         url('visionregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VisionBold';
    src: url('visionbold.woff2') format('woff2'),
         url('visionbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VisionThin';
    src: url('visionthin.woff2') format('woff2'),
         url('visionthin.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}